@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap");
@import "tailwindcss";

* {
	box-sizing: border-box;
}

body {
	font-family: "Manrope", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	background-color: #f6f3ff;
	color: #0f172a;
}
